/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}

/* --------------------------------------
   col - Layout
   -------------------------------------- */
.main-col{
	background: #bdbdbd;
	padding: 0px 0px;
	margin: 0px 0px;
}



/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	padding:70px;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

.col-layout{
    overflow: hidden; 
}

.small-col-layout{
    overflow: hidden; 
}

.small-col-layout [class*="col-"]{
    margin-bottom: -999px;
    padding-bottom: 1020px;
}

.col-layout [class*="col-"]{
    margin-bottom: -999px;
    padding-bottom: 999px;
}

.equal-block-col-layout{
    overflow: hidden; 
}

.equal-block-col-layout [class*="col-"]{
    margin-bottom: -999px;
    padding-bottom: 1020px;
}
/*Using negetive */
.side-col{
	background: #D3D3D3;
}

.col-layout h2{
	letter-spacing:2px;
	font-weight:bold;
	line-height:30px;
}

.col-layout h1{
	letter-spacing:2px;
	font-weight:bold;
	line-height:55px
}

.col-layout h4{
	letter-spacing:1.5px;
	line-height:30px
}



/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}

/* --------------------------------------
   Jumbotron
   -------------------------------------- */
.jumbotron{
	background-image: url('../../images/hero_image1.jpg');
	background-repeat: no-repeat;
	background-size: cover; 	
}

.hero_heading{
	color:white;
	border-radius:10px;
	text-transform: capitalize;
}
   
.pink_color{
	background:#e83a56;
}
.green_color{
	background:#35c793;
}

.top-row{
	background: #D3D3D3;
}

.bottom-row{
	background: #bdbdbd;
}
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top: 60px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {
	background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide2 {
	background: url('../../images/carousel_medium_02.jpg') top center no-repeat;
}

#slide3 {
	background: url('../../images/carousel_medium_03.jpg') top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
	margin-top: 20px;
	display: none;
}

.well {
	margin: 20px 0;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
	margin: 20px 0px;
}

.footer-icons{
	padding:2px 5px;
	font-size:30px;
	color:white
}

.crowd-managment{
	width:50%;
    background-image: url('../../images/crowd_management1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding : 0px 0px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
	.thumbnail .price {
		font-size: 14px;
	}
	
	.thumbnail .price sup {
		font-size: 10px;
	}
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	#myCarousel .item { height: 310px; }
	
	#slide1 {
		background: url('../../images/carousel_small_01.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../images/carousel_small_02.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../images/carousel_small_03.jpg') top center no-repeat;
	}
	
	.carousel-caption {
		font-size: 16px;
	}
	
	.carousel-caption h4 {
		font-size: 22px;
	}
	
}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { height: 500px; }
	
	#slide1 {
		background: url('../../images/carousel_large_01.jpg') top center no-repeat;
	}
	
	#slide2 {
		background: url('../../images/carousel_large_02.jpg') top center no-repeat;
	}
	
	#slide3 {
		background: url('../../images/carousel_large_03.jpg') top center no-repeat;
	}

}



